*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
/* 顶部导航部分 */
.top-title{
    height:50px;
    background:#4da1bd;
    color:#fff;
    display:flex;
    justify-content:space-between;
    padding:0 20px;
}
.top-title h2{
    font-size:28px;
    font-weight:200;
    line-height:50px;
    font-weight:500;
}
.top-title span{
    padding-top:10px;
    padding-right:40px;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top:5px;
}
/* 左边导航部分 */
.left-nav{
    width:100px;
    height:90%;
    background:#4da1bd;
}
.left-nav>ul li{
    height:50px;
}
.left-nav>ul li a{
    display:block;
    line-height:50px;
    font-size:16px;
    color:#fff;
    padding-left:10px;
}
.left-nav>ul li a:hover{
    background: #2188ab;
}